<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="1" version="0.1" targetFramework="net461" />
  <package id="elmah" version="1.2.2" targetFramework="net461" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.15.0-build58334" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Web" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net461" />
  <package id="NuGet.Core" version="2.8.6" targetFramework="net461" />
  <package id="NuGet.Server" version="2.8.6" targetFramework="net461" />
  <package id="RouteMagic" version="1.2" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.0.2" targetFramework="net461" />
</packages>