@model Customer

@{
    ViewBag.Title = "Async";
}

<h2>Async</h2>
<p>Get customer by id asynchronously. Add /{id} to url</p>
<p>Set breakpoint in code to see async behaviour</p>

<h3>Result: </h3>
@{
    if (Model != null)
    {
        <p>@Model.LastName, @Model.FirstName @Model.MiddleName </p>
    }
    else
    {
        <p>No result</p>
    }
}


