@{
    ViewBag.Title = "Entity Framework";
}

<h1>Entity Framework</h1>

<div class="row">
    <div class="col-md-4">
        <h2>EF DbContext</h2>
        <p>
           Example on how to query, create, update and delete using DbContext (dbContext is generated using EF model).
        </p>
        <p>
            @Html.ActionLink("Go", "Index", "DbContext", null, new { @class="btn btn-primary" })
        </p>

    </div>

</div>