<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICalculatorDuplex" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10604/CalculatorService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICalculatorDuplex"
                contract="CalculatorService.ICalculatorDuplex" name="WSDualHttpBinding_ICalculatorDuplex">
                <identity>
                    <userPrincipalName value="LNOR010768\kbrynild" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>